

# Practical_1: Variables and Assignments

----

### Exercise 1:
Declare a variable `x` and assign it the value `10`.

```python
# Exercise 1

In [4]:
x = 10

In [5]:
print(x)

10

---

### Exercise 2:
Assign the value `True` to a variable called `is_valid`.

```python
# Exercise 2
```

In [2]:
is_valid = True
print(is_valid)

True

---

### Exercise 3:
Create a string variable `name` with the value "Python Programming".

```python
# Exercise 3
```

In [6]:
name ="Python Programming"
print(name, type(name))

Python Programming <class 'str'>

---

### Exercise 4:
Assign the result of `5 + 3` to a variable `sum_result`.

```python
# Exercise 4
```

In [8]:
a = 5
b = 3
sum_result = a + b
print("sum is ", sum_result)

sum is  8

---

### Exercise 5:
Assign multiple variables in one line: `a = 5`, `b = 10`, `c = 15`.

```python
# Exercise 5
```

In [9]:
a, b, c = 5, 10, 15
print(a)
print(b)
print(c)

5
10
15

---

### Exercise 6:
Assign the value of one variable `x` to another variable `y`.

```python
# Exercise 6
```

In [10]:
x=y=6
print(x)
print(y)

6
6

---

### Exercise 7:
Assign a floating-point number `9.8` to a variable `gravity`.

```python
# Exercise 7
```

In [12]:
gravity = 9.8
print("The value of gravity is ", gravity)
type(gravity)

The value of gravity is  9.8

float

---

### Exercise 8:
Create a variable `country` and assign it the string value of your favorite country.

```python
# Exercise 8
```

In [13]:
country = "Rwanda"
print(" My favorite country is ", country)

 My favorite country is  Rwanda

---

### Exercise 9:
Change the value of variable `age` from `25` to `26` in two separate steps.

```python
# Exercise 9
```

In [15]:
age = 25
print(age)
age = 26
print(age)

25
26

---

### Exercise 10:
Use one variable to store the result of subtracting two numbers `20 - 7`.

```python
# Exercise 10
```

In [16]:
a = 20
b = 7
result = a - b
print("The subutraction is ", result)

The subutraction is  13

---

### Exercise 11:
Assign an integer value and a floating-point value to two different variables.

```python
# Exercise 11
```

In [17]:
a = 75
b = 7.5
print(a, type(a))
print(b, type(b))

75 <class 'int'>
7.5 <class 'float'>

---

### Exercise 12:
Assign a boolean value `False` to a variable `is_completed`.

```python
# Exercise 12
```

In [19]:
is_completed = False
print(is_completed)

False

---

### Exercise 13:
Swap the values of two variables `x` and `y`.

```python
# Exercise 13
```

In [21]:
x=3
y=4
x,y=y,x
print("value of x after swap ", x)
print("value of y after swap ", y)

value of x after swap  4
value of y after swap  3

---

### Exercise 14:
Assign a complex number `3 + 4j` to a variable `complex_num`.

```python
# Exercise 14
```

In [24]:
complex_num = 3 + 4j
print(complex_num)
complex_num = complex(3, 4)
print( complex_num )

(3+4j)
(3+4j)

In [38]:
print("%f + %fi" % (complex_num.real, complex_num.imag))

3.000000 + 4.000000i

---

### Exercise 15:
Reassign a variable from an integer to a string.

```python
# Exercise 15

In [40]:
a = 45
h = str(a)
print(h, type(h))
h

45 <class 'str'>

'45'

```

---

### Exercise 16:
Create two variables `first_name` and `last_name`, and assign them your first and last names.

```python
# Exercise 16
```

In [43]:
First_name ="Lambert"
Last_name ="Diko"
print(" My name is " +  First_name  +  Last_name )

 My name is LambertDiko

---

### Exercise 17:
Create a variable `temperature` and assign it the value of `35.5`.

```python
# Exercise 17
```

In [44]:
temperature = 35.5
print("the temperature is ", temperature)

the temperature is  35.5

---

### Exercise 18:
Assign the result of the multiplication of two numbers `8 * 6` to a variable `product`.

```python
# Exercise 18
`

In [45]:
a = 8
b = 6
product = a * b
print(product)

48

``

---

### Exercise 19:
Assign a sentence of your choice to a variable `sentence`.

```python
# Exercise 19
```

In [46]:
sentence = "I like football"
print(sentence)

I like football

---

### Exercise 20:
Use an assignment to convert a string `'50'` into an integer variable `int_value`.

```python
# Exercise 20
```

In [47]:
s = '50'
int_value = int(s)
print(int_value, type(int_value))

50 <class 'int'>

---

### Exercise 21:
Assign the result of dividing `144` by `12` to a variable `quotient`.

```python
# Exercise 21
```

In [48]:
a = 144
b = 12
quotient = a/b
print(quotient)

12.0

---

### Exercise 22:
Assign the remainder of `47 divided by 5` to a variable `remainder`.

```python
# Exercise 22
```

In [49]:
a=47%5
print(a)

2

---

### Exercise 23:
Create a variable `is_student` and assign it the value `True`.

```python
# Exercise 23
```

In [50]:
is_student = True
print(is_student)

True

---

### Exercise 24:
Use a variable to store the result of a modulo operation: `45 % 4`.

```python
# Exercise 24
```

In [51]:
d = 45 % 4
print(d)

1

---

### Exercise 25:
Create a variable `pi` and assign it the value `3.14159`.

```python
# Exercise 25
```

In [52]:
pi = 3.14159
print(pi)

3.14159

---

### Exercise 26:
Create two variables `length` and `width`, assign them values, and calculate the area of a rectangle.

```python
# Exercise 26
```

In [55]:
length = 10
width = 5
area = length*width
print(area)

50

---

### Exercise 27:
Assign a negative number to a variable `negative_value`.

```python
# Exercise 27
```

In [56]:
negative_value = -5
print(negative_value)

-5

---

### Exercise 28:
Assign a string containing a special character (e.g., "Hello, World!") to a variable `greeting`.

```python
# Exercise 28
```

In [58]:
greeting = "hello_class"
print(greeting)

hello_class

---

### Exercise 29:
Create a variable `population` and assign it a large integer value (in billions).

```python
# Exercise 29
```

In [61]:
population = 10**9
population

1000000000

---

### Exercise 30:
Use a variable to store the result of raising `2` to the power of `8`.

```python
# Exercise 30
```

In [62]:
d = 2**8
d

256

---

### Exercise 31:
Assign a list of your favorite fruits to a variable `fruits`.

```python
# Exercise 31
```

---

### Exercise 32:
Assign a tuple of three numbers to a variable `coordinates`.

```python
# Exercise 32
```

---

### Exercise 33:
Assign a dictionary with keys `name` and `age` to a variable `person`.

```python
# Exercise 33
```

---

### Exercise 34:
Use variables to store the sum of two floating-point numbers.

```python
# Exercise 34
```

In [63]:
t = 4.5
y = 3.7
sum = t + y
print(sum)

8.2

---

### Exercise 35:
Create a variable `is_sunny` and assign it the result of a comparison `10 > 5`.

```python
# Exercise 35
```

In [64]:
is_sunny= 10>5
is_sunny

True

---

### Exercise 36:
Assign a string and an integer to two different variables, then print both on one line.

```python
# Exercise 36
```

In [66]:
a = 34
gender = "Male"
print(gender + str(a))

Male34

---

### Exercise 37:
Reassign a variable that originally held a number to a boolean value.

```python
# Exercise 37
```

In [67]:
d = 5
k =bool(d)
print(k, type(k))

True <class 'bool'>

---

### Exercise 38:
Create a variable `is_weekend` and assign it the result of `False`.

```python
# Exercise 38
```

In [68]:
is_weekend = False
is_weekend

False

---

### Exercise 39:
Assign a multi-line string to a variable `description`.

```python
# Exercise 39
```

In [70]:
description =""" ...""" 
description

' ...'

---

### Exercise 40:
Use variables to store the result of the absolute value of `-25`.

```python
# Exercise 40
```

In [71]:
s = abs(-25)
s

25

---

### Exercise 41:
Assign the result of a floor division `100 // 6` to a variable `floor_div_result`.

```python
# Exercise 41
```

In [73]:
floor_div_result = 100 // 6
floor_div_result

16

---

### Exercise 42:
Assign the result of adding a floating-point number to an integer to a variable `mixed_sum`.

```python
# Exercise 42
```

In [75]:
a = 45
b = 4.5
mixed_sum = a + b
print(mixed_sum, type(mixed_sum))

49.5 <class 'float'>

---


### Exercise 43:
Assign a boolean value based on the comparison of two variables `a = 10` and `b = 15`.

```python
# Exercise 43
```

In [76]:
a = 10
b = 15
c = a>b
c

False

---

### Exercise 44:
Assign a long sentence to a variable and count its characters using `len()`.

```python
# Exercise 44
```

In [77]:
f = "I am studing AIMS"
len(f)

17

---

### Exercise 45:
Assign a fractional result `7 / 3` to a variable `division_result`.

```python
# Exercise 45
```

In [78]:
division_result = 7/3
division_result

2.3333333333333335

---

### Exercise 46:
Create a variable `speed` and assign it the value of 100 kilometers per hour.

```python
# Exercise 46
```

In [81]:
speed = "100km/h"
speed

'100km/h'

---

### Exercise 47:
Assign a multi-variable equation like `y = 3x + 5` where `x = 4` to a variable `y`.

```python
# Exercise 47
```

In [86]:

x = 4
y = 3*x+5
print(y)

17

---

### Exercise 48:
Use variables to calculate and store the average of three numbers.

```python
# Exercise 48
```

****

In [95]:
a = input("enter a")
b = input("enter b")
c = input("enter c")
print(a)
print(b)
print(c)

enter a 4
enter b 5
enter c 6

4
5
6

In [94]:
ave=(8+5+4)/3
ave

5.666666666666667

In [102]:
SU= a+b+c
int(SU)

456

In [101]:
ave = SU/3

TypeError: unsupported operand type(s) for /: 'str' and 'int'